.footer {
  padding: 3rem 0;
  min-height: 300px;
  background-color: #1d283a;
  color: #fff;

  .col-tech {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

    .fab {
      padding: 2rem;
    }
  }

  .col-made {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    .fas { padding-left: 0; }
  }
}
