<section class="sxn-maincontent-login">
  <form class="mod-login">
    <div class="form-group">
      <label for="userName">Username</label>
      <input type="text" id="userName" class="form-control" placeholder="username@mail.com" />
    </div>
    <div class="form-group">
      <label for="password">Username</label>
      <input type="password" id="password" class="form-control" placeholder="********" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="reset" class="btn">Cancel</button>
  </form>
</section>
