<nav class="navbar fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/"></a>
    <button class="navbar-toggler" [ngClass]="{ 'active': isNavCollapse }" type="button" (click)="showMenu()">
      <!--<span class="navbar-toggler-icon"></span>-->
      <span class="navbar-toggler-bar bar-01"></span>
      <span class="navbar-toggler-bar bar-02"></span>
      <span class="navbar-toggler-bar bar-03"></span>
    </button>
  </div>
</nav>

<nav class="right-nav">
  <ul>
    <li>About</li>
    <li>What I Do</li>
    <li>Portfolio</li>
    <li>Contact</li>
  </ul>
</nav>

<div class="navbar-custom" [ngClass]="{ 'show': isNavCollapse }">
  <ul>
    <li>
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/portfolio">Portfolio</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
  </ul>
</div>
