@import 'mixins';

.navbar {
  padding: 2rem 1rem;
  background-color: transparent;

  .navbar-brand {
    width: 75px;
    height: 75px;
    background: url('/assets/images/kimplenos-v2.svg');
    background-repeat: no-repeat;
    color: #fff;
  }

  .navbar-toggler {
    z-index: 1050;

    .navbar-toggler-bar {
      display: block;
      width: 30px;
      height: 2px;
      margin: 0 0 6px;
      background-color: #fff;
    }

    .bar-01 {
      transform: translateY(0) rotate(0deg);
      @include transition(0.2s);
    }

    .bar-02 {
      opacity: 1;
      @include transition(0.2s);
    }

    .bar-03 {
      transform: translateY(0) rotate(0deg);
      @include transition(0.2s);
    }

    &:focus {
      outline: none;
    }

    &.active {
      .bar-01 {
        transform: translateY(8px) rotate(40deg);
        @include transition(0.2s);
      }

      .bar-02 {
        opacity: 0;
        @include transition(0.2s);
      }

      .bar-03 {
        transform: translateY(-8px) rotate(140deg);
        @include transition(0.2s);
      }
    }
  }

  .navbar-toggler-icon {
    background: url('/assets/images/navbar-toggler.svg');
    background-repeat: no-repeat;
    @include transition(0.2s);

    &:hover {
      width: 1.8em;
      height: 1.8em;
      @include transition(0.2s);
    }
  }

  .navbar-collapse {
    justify-content: flex-end;
  }
}

.navbar-nav {
  text-align: center;
  .nav-item {
    .nav-link {
      padding: 0 1.5rem;
      font-weight: 600;
      font-size: 0.95rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;

      &:hover {
        color: #fee13b;
      }

      &.active {
        color: #fee13b;
      }
    }
  }
}

.navbar-custom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1020;
  @include transition(0.35s);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      .nav-link {
        padding: 1rem;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;

        &:hover {
          color: #fee13b;
        }

        &.active {
          color: #fee13b;
        }
      }
    }
  }

  &.show {
    opacity: 1;
    @include transition(0.35s);
    z-index: 1020;
  }
}
