<nav class="navbar fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/"></a>
    <button class="navbar-toggler" type="button" (click)="showMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="navbar-custom" [ngClass]="{ 'show': isNavCollapse }">
  <ul>
    <li>
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/portfolio">Portfolio</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
  </ul>
</div>
