<section class="banner">
  <h1 class="banner-title">
    <span class="design">Design</span>
    <span class="amp">&</span>
    <span class="code">Code</span>
  </h1>
  <div class="banner-sun"></div>
  <div class="banner-small-cloud"></div>
  <div class="banner-big-cloud"></div>
  <div class="banner-island"></div>
	<div class="banner-ocean">
    <div class="wave"></div>
  </div>
</section>
<section id="sxn-about" class="sxn sxn--about">

</section>
<section id="sxn-skills" class="sxn sxn--skills">

</section>
<section id="sxn-portfolio" class="sxn sxn--portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-content">
        featured work
      </div>
      <div class="col-sm-6 col-portfolio">
        <div class="row">
          <div class="col col-portfolio-full" [ngStyle]="{ 'background-image': 'url(/assets/images/portfolio/bbc-paknaan.jpg)'}"></div>
        </div>
      </div>
      <div class="col-sm-3 col-portfolio">
        <div class="row">
          <div class="col col-portfolio-half" [ngStyle]="{ 'background-image': 'url(/assets/images/portfolio/portfolio-iprofix.jpg)'}"></div>
        </div>
        <div class="row">
          <div class="col col-portfolio-half" [ngStyle]="{ 'background-image': 'url(/assets/images/portfolio/portfolio-sicario.jpg)'}"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sxn-inquiry" class="sxn sxn--inquiry">

</section>
