.banner {
  position: relative;
  height: 100vh;
  padding: 5rem 0 0;
  //background-color: #1fb0ff;
  background: rgb(31,176,255);
  background: linear-gradient(180deg, rgba(31,176,255,1) 0%, rgba(178,235,242,1) 100%);
  overflow: hidden;

  @media (min-width: 1900px) {
    padding: 10rem 0 0;
  }

  &-title {
    max-width: 320px;
    margin: 0 auto;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 0.9;
    -webkit-animation: textwave 2s infinite alternate;
    animation: textwave 3s infinite alternate;

    @media(min-width: 1900px) {
      margin: 6rem auto;
    }

    .design {
      display: block;
      margin: 0 0 0.8rem;
      font-weight: 100;
    }

    .amp {
      display: block;
      font-family: 'Prata', serif;
      font-size: 3rem;
      line-height: 1;
    }

    .code {
      display: block;
      font-weight: 600;
      font-size: 6.2rem;
    }
  }

  &-stars {
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;

    $shooting-time: 5s;

    .shooting_star {
      position: absolute;
      left: 0;
      top: 0;
      height: 2px;
      background: linear-gradient(-45deg, #b2ebf2, rgba(0, 0, 255, 0));
      transform: rotate(45deg);
      border-radius: 999px;
      filter: drop-shadow(0 0 6px #b2ebf2);
      animation: tail $shooting-time ease-in-out infinite, shooting $shooting-time ease-in-out infinite;
    }
  }

  &-sun {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 60px;
    height: 60px;
    background-color: #fee13b;
    border-radius: 60px;
    -webkit-animation: sunglow 5s infinite; /* Safari 4.0 - 8.0 */
    animation: sunglow 5s infinite;
  }

  &-moon {
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 60px;
    height: 60px;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(216,250,252,1) 50%, rgba(129,206,226,1) 100%);
    border-radius: 60px;

    .spot {
      position: absolute;
      background-color: #BDE5ED;

      &.spot-1 {
        top: 15px;
        left: 20px;
        width: 13px;
        height: 13px;
        border-radius: 13px;
      }

      &.spot-2 {
        top: 35px;
        left: 15px;
        width: 8px;
        height: 8px;
        border-radius: 8px;
      }

      &.spot-3 {
        top: 42px;
        left: 35px;
        width: 4px;
        height: 4px;
        border-radius: 4px;
      }
    }
  }

  &-small-cloud {
    position: absolute;
    top: 10%;
    left: -10%;
    width: 119px;
    height: 48px;
    background: url('/assets/images/small-cloud.png') no-repeat;
    -webkit-animation: movingcloud 120s infinite; /* Safari 4.0 - 8.0 */
    animation: movingcloud 120s infinite;
  }

  &-big-cloud {
    position: absolute;
    top: 40%;
    left: -10%;
    width: 156px;
    height: 63px;
    background: url('/assets/images/big-cloud.png') no-repeat;
    -webkit-animation: movingcloud 80s infinite; /* Safari 4.0 - 8.0 */
    animation: movingcloud 80s infinite;
  }

  &-island {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 573px;
    height: 328px;
    margin-left: -286.5px;
    background: url('/assets/images/floating-island.png') no-repeat;
    -webkit-animation: wavyisland 5s infinite; /* Safari 4.0 - 8.0 */
    animation: wavyisland 5s infinite;

    @media (min-width: 1900px) {
      height: 45%;
    }
  }

  &-ocean {
    position: absolute;
    bottom: -16px;
    left: -10%;
    width: 120%;
    height: 10vh;
    //background-color: #345e9e;
    background-color: rgba(42, 53, 120, 0.65);
    -webkit-animation: wave 5s infinite; /* Safari 4.0 - 8.0 */
    animation: wave 5s infinite;

    @media (min-width: 1900px) {
      height: 20vh;
    }

    .wave {
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      height: 15px;
      background: url('/assets/images/wave.png') repeat-x;
    }
  }

  &.isNight {
    background: rgb(34,34,98);
    background: linear-gradient(180deg, rgba(34,34,98,1) 0%, rgba(38,106,171,1) 100%);

    .banner-sun {
      display: none;
    }

    .banner-stars {
      display: block;
    }

    .banner-moon {
      display: block;
    }

    .banner-small-cloud {
      display: none;
    }

    .banner-big-cloud {
      display: none;
    }
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  15% {
    width: 100px;
  }

  30% {
    width: 0;
    top: 75%;
    left: 40%;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

@keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background: rgba(255,255,255,0.0);
    animation-timing-function: ease-in;
  }

  60% {
    transform: scale(0.8, 0.8);
    background: rgba(255,255,255,1);
    animation-timing-function: ease-out;
  }

  80% {
    background: rgba(255,255,255,0.00);
    transform: scale(1, 1);
  }

  100% {
    background: rgba(255,255,255,0.0);
    transform: scale(1, 1);
  }
}

@keyframes textwave {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY( -10px );
  }
}

@keyframes wave {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes sunglow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 40px 10px #fee13b;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes movingcloud {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}

@keyframes wavyisland {
  0% {
    bottom: 0%;
    @media (min-width: 1900px) {
      bottom: 20%;
    }
  }

  50% {
    bottom: 3%;

    @media (min-width: 1900px) {
      bottom: 22%;
    }
  }

  100% {
    bottom: 0%;

    @media (min-width: 1900px) {
      bottom: 20%;
    }
  }
}

@keyframes movingfish {
  0% {
    left: -20%;
  }

  100% {
    left: 110%;
  }
}

@keyframes fishupdown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bigfishupdown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.sxn {
  height: 100vh;

  h1 {
    font-family: 'Prata', serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    color: #fff;

    @media(min-width: 1900px) {
      margin: 0 0 2rem;
    }
  }

  .title {
    margin: 0 0 4rem;
    //font-family: 'Old Standard TT', serif;
    font-family: 'Prata', serif;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: center;
  }

  &--about {
    position: relative;
    display: flex;
    align-items: center;
    //background-color: rgba(42, 53, 120, 0.65);
    background-color: #5573A3;
    overflow-x: hidden;

    &.isNight {
      background-color: #284688;
    }

    .small-fish {
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 170px;
      animation: movingfish 10s cubic-bezier(0,.71,1,.02) infinite;

      .fish-1 {
        animation: bigfishupdown 2s ease-in-out infinite;
      }

      .fish-2 {
        animation: fishupdown 3s ease-in-out infinite;
      }

      .fish-3 {
        animation: fishupdown 4s ease-in-out infinite;
      }

      .fish-4 {
        animation: fishupdown 0.8s ease-in-out infinite;
      }

      .fish-5 {
        animation: fishupdown 0.6s ease-in-out infinite;
      }

      .fish-6 {
        animation: fishupdown 0.5s ease-in-out infinite;
      }

      .fish {
        //fill: #4a648e;
        fill: #455d84;
      }
    }

    .col-profile {
      display: flex;
      justify-content: center;

      .profile {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        background-color: #fff;
        background-image: url('/assets/images/kimplenos-small.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    .col-about-content {
      h5 {
        margin: 0 0 1rem;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1px;
      }

      h1 {
        //font-family: 'Old Standard TT', serif;
      }

      p {
        font-size: 1.5rem;
        color: #fff;
      }

      .social {
        list-style: none;
        margin: 0 0 3rem;
        padding: 0;

        li {
          display: inline-block;
          padding-right: 1rem;
          font-size: 0.8rem;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #fff;
        }
      }
    }
  }

  &--skills {
    display: flex;
    align-items: center;
    background-color: #2c5697;

    .title {
    
    }

    .skills {
      margin-bottom: 3rem;

      &__item {
        color: #fff;
        text-align: center;

        .icon {
          width: 106px;
          height: 100px;
          margin: 0 auto 2rem;
          background-position: center;
          background-repeat: no-repeat;

          &.websites {
            background-image: url('/assets/images/websites-icon.svg');
          }

          &.apps {
            background-image: url('/assets/images/apps-icon.svg');
          }

          &.design {
            background-image: url('/assets/images/design-icon.svg');
          }
        }

        h3 {
          margin: 0 0 2rem;
          font-family: 'Prata', serif;
          font-size: 1.2rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #fff;
        }

        p {
          line-height: 1.9;
        }
      }
    }

    .arrow-down {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      padding: inherit;
      border: 1px solid #fff;
      border-radius: 50px;

      &:hover {
        border: 1px solid #fee13b;
      }

      .fas {
        padding: 0;
      }
    }
  }

  &--portfolio {
    display: flex;
    align-items: center;
    background-color: #194f91;

    .col-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;

      .content {
        max-width: 500px;
        color: #fff;

        h5 {
          margin: 0 0 2rem;
          font-family: 'Prata', serif;
          font-size: 1.5rem;
          color: #fff;
          letter-spacing: 1px;
        }
      }
    }

    .col-portfolio {
      padding: 0;
      height: 100vh;
    }

    .col-portfolio--selected {
      display: flex;
      flex-flow: wrap;
    }

    .portfolio-full {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      .portfolio-img {
        width: 40vw;
        height: 70vh;
        background: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
      }
    }

    .portfolio-half {
      height: 50vh;
      flex: 0 0 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
  }

  &--inquiry {
    display: flex;
    align-items: center;
    background: #1a428a url('/assets/images/footer-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    text-align: center;

    .title {
      font-size: 2.5rem;
      text-align: center;
    }

    p {
      color: #fff;
    }
  }
}
